#recipeCardDeck.loaded .recipe-card {
  opacity: 1;
}

#recipeCardDeck .recipe-card {
  position: relative;
  margin: 10px;
  width: 80%;
  height: 260px;
  max-height: 100vw;
  max-width: 350px;
  border-radius: 10px;
  box-shadow: var(--dark-theme-recipe-card-box-shadow, 0 0 12px 0px lightgrey);
  background-color: var(--dark-theme-recipe-card-bg, none);
  opacity: 0;
  overflow: hidden;
  transition: 0.25s opacity, 0.8s width;
  transition-delay: var(--delay);
}

#recipeCardDeck .recipe-card .recipe-image-wrapper {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 160px;
}

#recipeCardDeck .recipe-card .recipe-image {
  object-fit: cover;
  transition: 1s transform;
  width: 100%;
  height: 160px;
}

#recipeCardDeck .recipe-card .recipe-section {
  color: var(--section-color);
  font-family: benton-sans, sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-align: left;
}

#recipeCardDeck .recipe-card .recipe-title {
  color: var(--dark-theme-recipe-card-title-color, rgb(50, 50, 50));
  font-weight: 500;
  font-family: benton-sans, sans-serif;
  font-size: 14px;
  text-align: left;
}

#recipeCardDeck .recipe-card:hover {
  text-decoration: none;
}

#recipeCardDeck .recipe-body {
  position: relative;
  height: calc(100% - 160px);
  width: 100%;
  padding-top: 6px;
  padding-left: 12px;
  padding-right: 12px;
  border-top: 3px solid var(--section-color);
}

#recipeCardDeck .recipe-card .recipe-age {
  position: absolute;
  top: 8px;
  right: 10px;
  font-family: sans-serif;
  font-size: 14px;
  text-align: center;
}

#recipeCardDeck .recipe-card:hover img {
  transform: scale(1.05);
}

@media screen and (min-width: 500px) {
  #recipeCardDeck .recipe-card {
    width: 40%;
  }
}

@media screen and (min-width: 850px) {
  #recipeCardDeck .recipe-card {
    width: 30%;
  }
}

@media screen and (min-width: 1000px) {
  #recipeCardDeck .recipe-card {
    width: 20%;
  }
}
